# Scheduler/ochestration packages
dagstermill==0.16.15
papermill-origami==0.0.9
cloudpickle==2.2.0
flytekitplugins-papermill==1.2.4

# https://github.com/noteable-io/ packages
git+https://www.github.com/noteable-io/dx.git@a7df2821182293546d7d7a9ede3cdcc0c946d570
git+https://www.github.com/noteable-io/noteable-notebook-magics.git@a6a6801da8ea7ccb72b9f354d4780699c3d99f73
git+https://www.github.com/noteable-io/sidecar_comms.git@6ee04efe60b855c465727f120f8f50a7bfa60097

# (All of the datasources modules are now explicit requirements within noteable-notebook-magics.)