git+https://github.com/noteable-io/ipython-sql-noteable.git@43935e171a70ab9dfe12571811650570e0ab8071
git+https://github.com/noteable-io/noteable-notebook-magics.git@62f05828292a4b344130b29e102194736c4d8870
dx==1.0.4
google-cloud-bigquery-storage==2.6.3
ipypandex==0.2.1
pyodbc==4.0.32
redshift_connector==2.0.907
sqlalchemy-bigquery==1.3.0
sqlalchemy-redshift==0.8.9
trino[sqlalchemy]==0.313.0
