# Scheduler/ochestration packages
dagstermill==0.16.15
papermill-origami==0.0.9
cloudpickle==2.2.0
flytekitplugins-papermill==1.2.4
# Added for ease of use with integration partners
pyiceberg==0.3.0
fugue==0.8.3
fugue-jupyter==0.2.3
# Diffing for notebooks
nbdime==3.1.1
# Making graphviz visualizations/diagrams
graphviz==0.20.1

# https://github.com/noteable-io/ packages
git+https://www.github.com/noteable-io/dx.git@a9a4310e51236833e818f3d81edc06a2c2fa3b0e
git+https://www.github.com/noteable-io/noteable-notebook-magics.git@b7ea1e809bfc78be7bec58602504596dde6a089a
git+https://www.github.com/noteable-io/sidecar_comms.git@009210009af85640852398dd6965bb7c285e21e2
git+https://www.github.com/noteable-io/ipykernel-logging.git@dc169edb8d7c262a001b795373b479df561bfe73

# (All of the datasources modules are now explicit requirements within noteable-notebook-magics.)
